body {
    box-sizing: border-box;
}

.indexhtml {
    background-image: url("./images/spices.png");
    background-size: cover;
}

.content {
    width: 500px;
    height: 300px;
    margin: 100px auto;
}

#mainhead {
    font-size: 40px;
    font-weight: bolder;
    color: aliceblue;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 50px;
}

#ingredients {
    font-size: 30px;
    color: brown;
}

#steps {
    font-size: 30px;
    color: blue;
}

.index {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#recipelink {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px auto;
    display: block;
    border-radius: 10px;
}

.center {
    text-align: center;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center.text {
    background-color: aqua;
}

.list {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}